


body{
height:100%;



}

div{

padding:50px;
width:20%;
display:inline-block;

}

.uno{

  background-image: url(../img/num1.jpg)
}


.two {

  background-image: url(../img/num2.png)
}

#counter{
display:none;

}
